<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="css/nba-theme.css" />
    <link rel="stylesheet" href="BasketStats.UI.styles.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/material-base.css">
    <ImportMap />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <RadzenNotification />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
    <script>
        window.downloadFile = function(filename, base64) {
            const link = document.createElement('a');
            link.href = 'data:application/pdf;base64,' + base64;
            link.download = filename;
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        };
    </script>
</body>

</html>
